/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background: radial-gradient(#739db7,#32c6eb);
    font-family: 'Roboto' , sans-serif;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    
}

.sign-in{
    background: radial-gradient(#739db7,#32c6eb);
    text-align: center;
    border: 0.2rem solid rgb(0, 0, 0);
    margin: 14rem;
    padding: 2rem 2rem;
    border-radius: 1.6rem;
}

.input-box{
    padding: 0.4rem;

}

.btn {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
    
    height: 35px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(0, 166, 255);
    font-size: 18px;


  }

  .btn:hover{
    background-color: rgb(117, 199, 253);
    cursor: pointer;
  }
