/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
    font-family: 'Roboto' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sign-in{
    background: #fff;
    text-align: center;
    border: 0.2rem solid #030000;
    padding: 2.5rem 1.2rem;
    border-radius: 1.6rem;
    
}

.input-box{
    padding: 0.6rem;
    margin-bottom: 1rem;
}

.input-box input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
}

.btn {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #f56f6f;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: rgb(255, 181, 181);
}

.p {
    margin-top: 1rem;
}

.p a {
    color: #007BFF;
    text-decoration: none;
}

.p a:hover {
    text-decoration: underline;
}
h1{
    padding-bottom: 2;
}